.card {
  border: thin solid var(--card-border-color, #000);
  border-radius: 0.75rem;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
}
