.card {
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
  border: thin solid var(--card-border-color, #000000);
  border-radius: .75rem;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-content-between {
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
