<div class="flow-inline align-baseline" style="--flow-space: 0.5rem">
  <button (click)="handleToggleTimer()" i18n>
    Toggle timer
    <span>: {{ isPolling ? 'On' : 'Off' }}</span>
  </button>
</div>
<ng-container *ngIf="!errorMessage else errorMessageTmpl">
  <app-study-card *ngFor="let study of studiesSubject$ | async" [study]="study"></app-study-card>
</ng-container>

<ng-template #errorMessageTmpl>
  <div class='flex-row align-center margin-top-2'>
    <p>{{ errorMessage }}</p>
  </div>
</ng-template>
